* {
  font-family: 'Zilla Slab', monospace;
}
.container {
  padding: 30px;
}
.jumbotron {
  padding-top: 15vh;
  background-image: url('assets/twr-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
  text-align: center;
}
.jumbotron .btn {
  color: #fff;
  background-color: #83c057;
  border: none;
  padding: .5em 1em;
}
.jumbotron .btn:hover {
  background-color: #333;
  border: none;
}
#about p {
  font-size: 1.3em;
}

p {
  font-size: 1.1em;
}
.highlight {
  padding: 40px 60px 80px;
  background-color: rgba(255,255,255,0.9);
}
.highlight p, h1 {
  margin: 20px 0;
}

.highlight p.event-dates {
  font-weight: 600;
  font-size: 1.5em;
  margin: 0;
}
.highlight h1 {
  color: #83c057;
  font-size: 3.2em;
}
.highlight address {
  font-size: 1.5em;
  padding-bottom: 1em;

}
h2, h3, h4 {
  text-align: center;
}
h2 {
  color: #83c057;
  font-size: 2.4em;
  margin: 1em 0;
}
h3 {
  font-size: 1.2em;
  margin: 2em 0;
  font-weight: 700;
}
h4 {
  font-size: 1.6em;
  color: #83c057;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
a {
  color: #83c057;
}
a:hover {
  color: #6aa63e;
}
nav {
  border-bottom: 1px solid #ccc;
}
.navbar-brand {
  font-size:1.2em;
  font-weight: 600;
}

.navbar-light .navbar-brand {
  color: #83c057;

}
li.nav-item {
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #83c057;
}
header .btn {
  font-weight: 700;
}
.btn-primary,
input .btn .btn-primary {
  color: #fff;
  border: 0;
  border-radius: 0;
  font-weight: 600;
}
.btn-primary:hover,
input .btn .btn-primary:hover {
  background-color: #333;
}

.mailing-list {
  background-color: #efefef;
  padding-bottom: 70px;
}
.mailing-list-grey {
  background-color: #efefef;
}
.mailing-list input, .mailing-list-grey input {
  height: 48px;
  padding: 0.4em 0.8em;
}
.mailing-list input[type~="email"], .mailing-list-grey input[type~="email"]{
  width: 360px;
  margin-right: 10px;
}
.mailing-list input[type~="submit"], .mailing-list-grey input[type~="submit"] {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .03em;
  background-color: #83c057;
}
.btn-lg {
  font-size: 1.6em;
  font-weight: 600;
}
.btn-outline-primary {
  color: #83c057;
  border: 3px solid #83c057;
  border-radius: 0;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #83c057;
  border-color: #83c057;
}
.map-address {
  font-size: 1.3em;
  text-align: center;
  background-color: #efefef;
  padding: 30px;
}
figcaption {
  font-size: 1.2em;
  text-align: center;
  padding-top: 10px;
}
#closing-cta {
  padding-bottom: 60px;
}
footer {
  background: #333;
  margin: auto;
}
footer a {
  margin: 30px 15px;
  color: #fff;
}
img.padding-top {
  padding-top:75px;
}
img.padding-left {
  padding-left: 50px;
}
img.padding-overall {
  padding: 15px;
}

.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:10px;
	right:10px;
  z-index: 10;
}
.scroll.icon {
	position:absolute;
	right:20px;
	bottom:20px;
  color: #fff;
	background:#83c057;
	padding: 14px;
	text-align: center;
	margin: 0 auto;
  border-radius: 30px;
  height: 60px;
  width: 60px;
	cursor: pointer;
  z-index: 10;
}

.scroll .fa {
	font-size:16px;
	margin-left:1px;
	transition: 0.5s;
}

.workshop {
  padding-top: 80px;
}
.workshop .media {
  padding-bottom: 20px;
}
.workshop h3 {
  text-align: left;
  font-size: 1.4em;
  font-weight: 600;
  margin: 1em 0;
}

.workshop .media img {
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.workshop p {
  font-size: 1.1em;
  padding-bottom: 6px;
}
.workshop .media h5 {
  font-weight: 600;
}

.workshop .media p {
    font-size: 1em;
}

.conference-days a {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #333;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}
.conference-days a:hover {
  color: #fff;
  background-color: #83c057;
  border-top: 2px solid #83c057;
  border-bottom: 2px solid #83c057;
}


.conference-schedule {
  padding-top: 70px;
}

.conference-schedule h3 {
  font-size: 2em;
  font-weight: 400;
  color: #83c057;
}

.conference-schedule h5,
.conference-schedule p {
  text-align: center;
}

.grey-section {
  background-color: #f8f8f8;
}

.no-border {
  border: none;
}